<!DOCTYPE html>
<html ng-app="stashpoc">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!--<link href="lib/ionic/css/ionic.css" rel="stylesheet">-->
    <link href="lib/angular-material/angular-material.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/ng-material-dropmenu/ng-material-dropmenu.css" />
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-aria/angular-aria.js"></script>
    <script src="lib/angular-material/angular-material.js"></script>
    <script src="lib/ng-material-dropmenu/ng-material-dropmenu.js"></script>

      <script src="components/header/header.module.js"></script>
      <script src="app/auth/auth.module.js"></script>
      <script src="app/context/context.module.js"></script>
      <script src="app/user/user.module.js"></script>
      <script src="app/stash/stash.module.js"></script>
      <script src="app/conversations/conversations.module.js"></script>

      <script src="app/context/Context.service.js"></script>
      <script src="app/auth/Auth.service.js"></script>
      <script src="app/auth/AuthCtrl.js"></script>
      <script src="app/auth/AuthHTTPInterceptor.js"></script>
      <script src="app/auth/AuthTokenFactory.service.js"></script>
      <script src="app/user/UserPreferences.service.js"></script>
      <script src="app/stash/Stash.service.js"></script>
      <script src="components/header/header.js"></script>
      <script src="app/conversations/ConversationsCtrl.js"></script>
      <script src="app/conversations/MessageViewCtrl.js"></script>
      <script src="app/conversations/ComposeCtrl.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="BaseCtrl as vm">
      <header ng-if="vm.authData.bLoggedIn && !vm.bHideHeader"></header>
      <sidenav></sidenav>
      <div ui-view="body"></div>
      <!--<nav-->
          <!--mfb-menu-->
          <!--position="br"-->
          <!--effect="slidein"-->
          <!--label="New Message"-->
          <!--active-icon="ic_add_24px.svg"-->
          <!--resting-icon="ic_add_24px.svg"-->
          <!--ng-click="vm.newMsg()">-->
      <!--</nav>-->
      <md-button class="md-fab md-fab-bottom-right" aria-label="New Message" ng-click="vm.newMsg()">
          <md-icon md-svg-icon="add"></md-icon>
      </md-button>
  </body>
</html>
